apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: socketcluster
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: socketcluster
    spec:
      containers:
      - name: socketcluster
        image: socketcluster/socketcluster:v5.0.25
        ports:
        - containerPort: 8000
        env:
        - name: SCC_STATE_SERVER_HOST
          value: scc-state
        - name: ENV
          value: prod
        livenessProbe:
          httpGet:
            path: /health-check
            port: 8000
          initialDelaySeconds: 30
          timeoutSeconds: 5
